
.App {
  text-align: center;
}

.App-header {
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: rgb(96, 96, 96);
  padding: 40px;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
}

h2 {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
  font-style: italic;
  color: rgb(147, 147, 147);
}